label {
	color: LightSkyBlue;
	font-weight: bold;
	font-size: 140%;
    text-shadow: Navy 1px 1px 0, Navy -1px -1px 0, 
                 Navy -1px 1px 0, Navy 1px -1px 0;
}
label#title {
  text-align: center;
}
