label#auth_fail1 {
	color: LightSkyBlue;
	font-weight: bold;
	font-size: 140%;
    text-shadow: Navy 1px 1px 0, Navy -1px -1px 0, 
                 Navy -1px 1px 0, Navy 1px -1px 0;
}

label#auth_fail {
	color: DarkCyan;
	font-weight: bold;
	font-size: 140%;
    text-shadow: DarkSlateGrey 1px 1px 0, DarkSlateGrey -1px -1px 0, 
                 DarkSlateGrey -1px 1px 0, DarkSlateGrey 1px -1px 0;
}

label#title {
	color: DarkOrange;
	font-weight: bold;
	font-size: 140%;
    text-shadow: Black 1px 1px 0, Black -1px -1px 0, 
                 Black -1px 1px 0, Black 1px -1px 0;
}

label#title1 {
	color: #F6F4F3;
	font-weight: bold;
	font-size: 300%;
}

label#title2 {
	color: #1E1D1D;
	background-color: DarkOrange;
	font-weight: bold;
	font-size: 300%;
	border-radius: 2px;
}

#room_box {
	background-color: Silver;
}

#back {
	background-color: #1E1D1D;
}

#entry {
	color: #F6F4F3;
	background-color: #595959;
}

#entry selection {
	color: black;
	background-color: DarkOrange;
}

button#entry {
	color: #C0C0C0;
	background: #595959;
	text-shadow: 1px  1px 1px Black;
}

button#entry:hover {
	color: white;
	background-color : DarkOrange;
}

button#entry:active {
	color: white;
	background-color : #C0732F;
}

entry#entry:focus {
	box-shadow: inset 0 0 0 1px DarkOrange;
	border: 1px solid DarkOrange;
	caret-color: DarkOrange;
}

#menu_main {
	color: #F6F4F3;
	background: rgba(255, 140, 0, 0.5);
}

#menu_exit {
	color: #F6F4F3;
	opacity: .22;
	background-color: black;
}

#message {
	border-radius: 5px;
	color: black;
	background-color: DarkOrange;
}

#file {
	color: #900C3F;
	font-weight: bold;
}

#file_pressed {
	color: #581845;
	font-weight: bold;
}

#file_hover {
	color: #691D4D;
    font-weight: bold;
}

